@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Protest+Strike&display=swap')
;

* {
    margin: 0;
    padding: 0;
    top: 0;
  }  

.main {
    height:100vh;
    background-image: url(bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    position: relative;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5%;
    color: white;

}

h1 {
    text-align: center;
    background-color: #16161a;
    color: white;
    padding: 5%;
    font-family: "Protest Strike", sans-serif;
    letter-spacing: 2px;


}
label {
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    }

button {
    padding: 5px;
    cursor: pointer;
    background-color: #2d2d33;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: transform 0.1s ease-in-out;

}

button:active {
    box-shadow: 0 0 0 black;
    transform: translateY(1.5px);
}

button:hover {
    background-color: #7f5af0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1in;


}

p {
    transform: translateY(100px);
}

#oddNumbers, #evenNumbers {
    transform: translateY(40px);
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-family: "Protest Strike", sans-serif;
}

input[readonly] {
     background-color: #f0f0f0;
    border: none;
    padding: 10px;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: "Lilita One", sans-serif;    font-size: 25px;
}

.sum-button {
    margin-bottom: 20px;
}

.odd, .even {
    background-color: #71767a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    height: 30vh;
    width: 20%;
    border-radius: 10px;
    padding: 25px;
}

.even-res {
    position: absolute;
    left: 57%;
    top: 70%;
}

.odd-res {
    position: absolute;
    left: 26%;
    top: 70%;
}